html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

div {
    padding: 0.4em;
}
.container {
    margin-top: 100px;
}

h1 {
    color: #986060;
}
body {
   /*  Picture via https://unsplash.com/photos/k1qFPrDsn6M  */
    background-color: rgb(134, 105, 214);
    /* background: url("https://images.unsplash.com/photo-1474610715337-344726d48cb7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5540403ca5ba986cf7dcc22998e30069&auto=format&fit=crop&w=1350&q=80") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

fieldset {
  color:rgb(214, 72, 100); 
  font-size: 25px;
}